<div class="content">

  <% if current_user %>
    <h2>Welcome to Riderank!</h2>

    <div class="menu">
      <ul>
        <li><%= link_to "Add ride", new_ride_path %></li>
        <li><%= link_to "View stats", rides_path %></li>
      </ul>
    </div>
  <% else %>
    <h2 class="no-user">Please Sign up or Log in to start tracking your Taxi rides!</h2>
  <% end %>

</div>